MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=bookdb
MYSQL_USER=devuser
MYSQL_PASSWORD=devpassword
REDIS_HOST=localhost
REDIS_PORT=6379
SPRING_PROFILES_ACTIVE=local
AWS_COGNITO_REGION=ap-northeast-2
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_CLIENT_ID=
AWS_COGNITO_CLIENT_SECRET=
KAKAOPAY_SECRET_KEY=DEVAC1371A30AFB5D8FCFD9A8C0C18B2CC847AC5
